<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
     <base href="/static/admins/home/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admins Home</title>
    <!-- google-fonts -->
    <link
        href="//fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <script>
        {% for message in messages %}
            alert('{{ message }}');
        {% endfor %}
    </script>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand" href="/admins_home/"><i class="fa fa-user-circle mr-1" aria-hidden="true"></i>ADMIN</a>
                </h1>
                <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/admins_home/">HOME <span class="sr-only">(current)</span></a>
                        </li>
                       <!-- Manage Log Dropdown -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="manageLogDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        MANAGE LOG <i class="fa fa-caret-down"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="manageLogDropdown">
        <a class="dropdown-item" href="/cl_approve/">CLIENT</a>
        <a class="dropdown-item" href="/pm_approve/">PAINMETRICS</a>
        <a class="dropdown-item" href="/rt_approve/">RELIEFTHERAPY</a>
        <a class="dropdown-item" href="/ef_approve/">EFFECTIVENESS</a>
    </div>
</li>

<!-- Reports Dropdown -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        BACKPAIN REPORTS <i class="fa fa-caret-down"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="reportsDropdown">
        <a class="dropdown-item" href="/ad_cl_bp_report/">CLIENT</a>
        <a class="dropdown-item" href="/ad_pm_bp_report/">PAINMETRICS</a>
        <a class="dropdown-item" href="/ad_rt_bp_report/">RELIEFTHERAPY</a>
        <a class="dropdown-item" href="/ad_ef_bp_report/">EFFECTIVENESS</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       KNEEPAIN REPORTS <i class="fa fa-caret-down"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="reportsDropdown">
        <a class="dropdown-item" href="/ad_cl_kp_report/">CLIENT</a>
        <a class="dropdown-item" href="/ad_pm_kp_report/">PAINMETRICS</a>
        <a class="dropdown-item" href="/ad_rt_kp_report/">RELIEFTHERAPY</a>
        <a class="dropdown-item" href="/ad_ef_kp_report/">EFFECTIVENESS</a>
    </div>
</li>
                        
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       STATUS <i class="fa fa-caret-down"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="reportsDropdown">
        <a class="dropdown-item" href="/bp_admins_status/">BACK PAIN</a>
        <a class="dropdown-item" href="/kp_admins_status/">KNEE PAIN</a>    
    </div>
</li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admins_logout/">LOGOUT</a>
                        </li>
                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//header-->

    <!-- banner section -->
    <section class="w3l-banner pt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 banner-left">
                    <h3 class="text-white mb-3 title">Welcome to the  <br>
                        Admin <span class="type-js"><span class="text-js"> Dashboard </span></span></h3>
                    <p class="lead text-white">This dashboard empowers you to efficiently manage every aspect of the back pain and knee pain relief.
                    </p>
                    <div class="mt-5">
                        <a class="btn btn-style-white" href="/admins_home/">HOME</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner section -->

    <!-- about -->
    <section class="w3l-features-photo-7 py-5">
        <div class="container py-md-5 py-4">
            <div class="row w3l-features-photo-7_top">
                <div class="col-lg-6 w3l-features-photo-7_top-left pr-lg-5" style="text-align:justify;">
                    <h4 class="title-style mb-2">About Us</h4>
                    <p>The Admin Page serves as the command center for managing the Run-Walk Program, specifically designed to alleviate back pain and knee pain. This platform provides administrators with the tools to oversee client progress, recommend therapies, and evaluate treatment effectiveness—all in one seamless interface.
                    </p>
                    <p>To enable streamlined management and decision-making, ensuring every participant receives tailored, effective care for their pain relief journey.</p>
                    
                </div>
                <div class="col-lg-6 w3l-features-photo-7_top-right mt-lg-0 mt-sm-5 mt-4">
                    <img src="assets/images/about.jpg" class="img-responsive" alt="" />
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->



    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- theme switch js (light and dark)-->
    <script src="assets/js/theme-change.js"></script>
    <script>
        function autoType(elementClass, typingSpeed) {
            var thhis = $(elementClass);
            thhis.css({
                "position": "relative",
                "display": "inline-block"
            });
            thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
            thhis = thhis.find(".text-js");
            var text = thhis.text().trim().split('');
            var amntOfChars = text.length;
            var newString = "";
            thhis.text("|");
            setTimeout(function () {
                thhis.css("opacity", 1);
                thhis.prev().removeAttr("style");
                thhis.text("");
                for (var i = 0; i < amntOfChars; i++) {
                    (function (i, char) {
                        setTimeout(function () {
                            newString += char;
                            thhis.text(newString);
                        }, i * typingSpeed);
                    })(i + 1, text[i]);
                }
            }, 1500);
        }

        $(document).ready(function () {
            // Now to start autoTyping just call the autoType function with the 
            // class of outer div
            // The second paramter is the speed between each letter is typed.   
            autoType(".type-js", 200);
        });
    </script>
    <!-- //theme switch js (light and dark)-->

    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- counter for stats -->
    <script src="assets/js/counter.js"></script>
    <!-- //counter for stats -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!--bootstrap-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->
</body>

</html>