# Virtual Environment
venv/
env/
ENV/
.virtual/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# Static files
staticfiles/

# Media uploads
media/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Migrations cache
*.pyc